.response-container {
  display: flex;
}

.response-area {
  padding: 16px;
  border-radius: 12px;
  border: none;
  width: 100%;
  color: black;
  
  font-size: 15px;
}

.response-area:focus {
  outline: none;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}