<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>Troubleshooting the bot</mat-card-title>
    <mat-card-subtitle>Summer, 2019</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3>About the bot</h3>
    <p>
      The Company Communication Bot is designed for SSNC use however can be easily customized for personal or general purpose.
      At its core, it runs a Java executable package that listens for a "ccb" command and attempts an API call to a target endpoint if it is valid.
      The bot was inspired by an ongoing joke between the interns on the PLEX Team about creating bots of each member of the team to auto-respond.
      The idea has since been flushed out and the bot is capable of much, much more!
    </p>
    <h3>Common Commands</h3>
    <p>
      All commands start with "ccb" followed by an action and the parameters expected by the action.
      A simple way to test if the bot is working on your machine is by typing "ccb test" into the message body to the bot.
      You will notice that the bot will respond immediately if the command was successful or nothing at all if it fails.
      The bot will also mention that a command is unknown if the user inputs an unknown or invalid command.
    </p>
    <ul>Other common commands include: </ul>
    <h3>Future Features</h3>
    <p>
      One major feature that is available to be added is a UI configuration of the bot to add new commands.
      Due to networking and time constraints, the framework is built but lacks the calls to the bot.
    </p>
    <h3>Resources</h3>
    <ul>
      <li><a href="https://github.com/mleong25/DST_SSNC_hackathon_2019/tree/ui" target="_blank">GitHub Repository</a><br/></li>
      <li><a href="https://api.mattermost.com/" target="_blank">MatterMost API Reference</a></li>
    </ul>
  </mat-card-content>
</mat-card>

