@import "~@angular/material/prebuilt-themes/indigo-pink.css";/* You can add global styles to this file, and also import other style files */

.form-card {
  width: 70%;
  margin-left: 15%;
  margin-top: 50px;
  border-right: 3px solid #0a85c7;
  border-bottom: 3px solid #0a85c7;
}

.basic-card {
  margin-top: 4%;
  text-align: center;
}
