<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>Hackathon - The BIG Idea</mat-card-title>
    <mat-card-subtitle>Summer, 2019</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      As a part of our summer internship hackathon, we decided to integrate a bot with MatterMost (the chat application we use daily).
      The purpose of this project was to increase automation and efficiency to improve the day to day lives of the employees that work with us.
      We wanted our bot to bridge the gap between MatterMost and other RESTful APIs.
      One integration we heavily considered was to call the Outlook API with few, simple commands on MatterMost to quickly create and set meetings with either groups or individual within a channel.
      When working on this project we came up with so many inspired ideas and we hope to see continuing work on improving this project even after the summer is over.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="basic-card">
  <mat-card-header>
    <mat-card-title>The Product</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      What we're excited to show is a MatterMost bot that consume's the PLEX Team's own Alerting API both as a proof of concept and to play a crucial role for agile communication within the company.
      At its current state, the bot will be able consume any exposed API and allow configuration to setup keywords for easy use.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="basic-card">
  <mat-card-header>
    <mat-card-title>Our Struggles</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      To say the least, we've encountered many obstacles from design / idea to networking. A lot of our time was spent researching as we waited to hear back from networking and security.
      After hearing back with 2 days left to complete the project, we took what we had and we modified and adapted to fit what was feasible within the time-frame.
    </p>
  </mat-card-content>
</mat-card>
