<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>Hackathon - The BIG Idea</mat-card-title>
    <mat-card-subtitle>Summer, 2019</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      As a part of our summer internship hackathon, we decided to integrate a bot with MatterMost (the chat application we use daily).
      The purpose of this project was to increase automation and efficiency to improve the day to day lives of the employees that work with us.
      We wanted our bot to bridge the gap between MatterMost and other RESTful APIs.
      One integration we heavily considered was to call the Outlook API with few, simple commands on MatterMost to quickly create and set meetings with either groups or individual within a channel.
      When working on this project we came up with so many inspired ideas and we hope to see continuing work on improving this project even after the summer is over.
    </p>
  </mat-card-content>
</mat-card>
