<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>About Us</mat-card-title>
    <mat-card-subtitle>Summer, 2019</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3>Samantha Kreisel [UI Liaison]</h3>
    <p>
      I am currently working on my Bachelors in Computer Science, and am an intern at DST (SS&C).
      Before becoming an intern, I participated in FIRST robotics for almost 9 years, occasionally mentoring our younger teams.
      I also work at Best Buy part-time as a customer service representative.
      In my spare time, I enjoy bettering myself by learning new things, spending time with friends and making things hands-on.
    </p>
    <h3>Leif Larson [UX / Graphic Design Meister]</h3>
    <p>
      I've had a long-time passion for programming, ever since my dad started me on it at the age of 7.
      Since then, I've taken classes on Python, C++, and Java through high school and into college.
      Now I am an intern at SS&C, where I contribute to real projects, using Angular7 and Spring MVC.
</p>
    <h3>Brock Weekley [API / Backend Wiz]</h3>
    <p>
      I am a student at the University of Missouri Columbia studying Computer Science going into my Junior year.
      My main field is Java and web development with experience in many different object oriented languages.
      I have certifications in both C# and Java and have been passionate about computer and foreign language since I was a child.
      I have always enjoyed communication and language processing which has recently lead to a desire to develop both machine learning and artificial intelligence and how it can relate to the human brain.
    </p>
    <h3>Marcus Leong [Commander in Chief - AKA Team Lead]</h3>
    <p>
      I'm a non-traditional student in Computer Science, previously Pre-Med, I joined CS as a leap of faith and have not looked back.
      I will be a senior at the University of Kansas this upcoming Fall - Rock Chalk!
      I've participated in 2 other hackathons and have a passion for building projects.
      My philosophy for development is learn and adapt on the fly and aspire to learn a bit about all paradigms and languages even if I lack interest.
      My hobbies and activities during my free time include video games, culinary, exercise, fishing, etc.
    </p>
  </mat-card-content>
</mat-card>
