<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>About Us</mat-card-title>
    <mat-card-subtitle>Summer, 2019</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3>Samantha Kreisel</h3>
    <p>
      I am currently working on my Bachelors in Computer Science, and am an intern at DST (SS&C).
      Before becoming an intern, I participated in FIRST robotics for almost 9 years, occasionally mentoring our younger teams.
      I also work at Best Buy part-time as a customer service representative.
      In my spare time, I enjoy bettering myself by learning new things, spending time with friends and making things hands-on.
    </p>
    <h3>Leif Larson</h3>
    <p>
      I've had a long-time passion for programming, ever since my dad started me on it at the age of 7.
      Since then, I've taken classes on Python, C++, and Java through high school and into college.
      Now I am an intern at SS&C, where I contribute to real projects, using Angular7 and Spring MVC.
</p>
    <h3>Brock Weekley</h3>
    <p>
      A part of our summer internship is an intern hackathon. For this year we decided to use a bot to integrate with MatterMost (the chat application we use daily).
      The purpose of this project was to increase automation and efficiency to improve the day to day lives of the employees that work with us.
      We wanted our bot to bridge the gap between MatterMost and Outlook, to be able to set up meetings through chats easily and quickly.
      When working on this project we came up with so many inspired ideas and we hope that we can continue improving this project even after the summer is over.
    </p>
    <h3>Marcus Leong</h3>
    <p>
      A part of our summer internship is an intern hackathon. For this year we decided to use a bot to integrate with MatterMost (the chat application we use daily).
      The purpose of this project was to increase automation and efficiency to improve the day to day lives of the employees that work with us.
      We wanted our bot to bridge the gap between MatterMost and Outlook, to be able to set up meetings through chats easily and quickly.
      When working on this project we came up with so many inspired ideas and we hope that we can continue improving this project even after the summer is over.
    </p>
  </mat-card-content>
</mat-card>
